body{
     background-color: rgb(235, 171, 203);
     text-align: center;
     margin: 2px;
     color: aliceblue;
}

header{
     border-bottom: solid 2px rgb(223, 32, 127);
     padding: 20px;
     font-size: 20px;
     text-decoration: solid;
     margin: 20px;
}
P {
     color:black;
}
.bailarina{
     font-style:inherit
}
.img1{
     width: 30%;
}